html {
  background-color: #dbd6cf;
  color: #fff;
  line-height: 1.5;
  margin: .3em;
  padding: .6em .5em .75em;
  text-align: center;
}

h1 {
  display: block;
  font-family: Bevan, sans-serif;
}

a {
  background-color: #713837;
  color: #fff;
  display: inline-block;
  font-family: Arial, sans-serif;
  text-decoration: none;
}

ul {
  list-style-type: none;
}
