html {
  background-color: #dbd6cf;
  color: #fff;
  text-align: center;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  display: block;
  font-family: Bevan, sans-serif;
}

a {
  background-color: #713837;
  border-radius: .3em;
  color: #fff;
  display: inline-block;
  font-family: Arial, sans-serif;
  margin: .3em;
  padding: .6em .5em .75em;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  background-color: #79756f;
  border-color: #595652;
  border-style: solid;
  border-width: .1em;
}

li {
  display: inline-block;
}

a:hover {
  background-color: #f33;
}
